.header {
  background: #fff;
  box-shadow: 0 2px 16px rgba(0,0,0,0.05);
  font-family: 'Inter', 'Segoe UI', Arial, sans-serif;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-container {
  max-width: 1280px;
  margin: auto;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  position: absolute;
  left: 5%;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  font-size: 2.5rem;
  color: #3B2F23;
  text-decoration: none;
}

.logo-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #FDF5ED;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links {
  display: flex;
  gap: 48px;
}

.nav-links a {
  color: #3B2F23;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
}

.icons {
  display: flex;
  align-items: center;
  gap: 24px;
  color: #A89F91;
}

.cart {
  position: absolute;
  left: 95%;
  color: #3B2F23;
  text-decoration: none;
}
.search {
  position: absolute;
  left: 83%;
  color: #3B2F23;
  text-decoration: none;
}
.heart{
  position: absolute;
  left: 91%;
  color: #3B2F23;
  text-decoration: none;
}
.profile{
  position: absolute;
  left: 87%;
  color: #3B2F23;
  text-decoration: none;
} 

.bag-count {
  position: absolute;
  top: -6px;
  right: -10px;
  background: #E97171;
  color: #fff;
  font-size: 0.7rem;
  padding: 2px 6px;
  border-radius: 50%;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
}
